data/*
.DS_Store
Starting\ Kit/Baseline1_BM25/answer.tsv
Starting\ Kit/Baseline1_BM25/answer.tsv.zip
Starting\ Kit/Baseline1_BM25/corpus.tsv
Starting\ Kit/Baseline1_BM25/docIDFDict.pickle
._*
data.zip